.Header1{
 /*  background-image: url("https://th.bing.com/th/id/OIP.NwXq2aBpsUKXene2iAb81AHaFj?w=243&h=182&c=7&o=5&dpr=1.75&pid=1.7");  */
     background-color:#eaeaea;  
/* background-color: white; */
color:#4c90d9;
height: 60px;
display: flex;
align-items: center;
 justify-content: space-between; 
margin-left:7px;
margin-right: 7px;
}
.intro-wrapper{
    background-image: url("https://th.bing.com/th/id/OIP.NwXq2aBpsUKXene2iAb81AHaFj?w=243&h=182&c=7&o=5&dpr=1.75&pid=1.7");
     background-size:cover;
     background-repeat: no-repeat;
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}


.browser-dot2{
	background-color: black;
	height:15px;
	width: 15px;
	border-radius:20%;
	margin-right: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}
.card1{
width: 4.6%;
display: flex;
flex-direction: row;
/* display: inline-block;  */
grid-template-columns: repeat(auto-fit, 320px);

border-radius: 5px; 
margin-left:5px;
margin-right:15px;

   }
.card1:hover{
transform:scale(1.2)

}
.image1 img{
  width:100px;
  height: 56px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  

 
 }