
:root{
	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;


}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 300;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1{
background-color: var(--mainColor);
border-bottom:1px solid var(--borderColor);
 overflow: auto;
}
.main{
 background-image: url("https://th.bing.com/th/id/OIP.NwXq2aBpsUKXene2iAb81AHaFj?w=243&h=182&c=7&o=5&dpr=1.75&pid=1.7");
     background-size:cover;
     background-repeat: no-repeat;

}
.s1{
background-color: var(--secondaryColor);
border-bottom:1px solid var(--borderColor);
 overflow: auto;
}
.main-container{
width: 1000px;
margin: auto;
}
.intro-wrapper{
    background-image: url("https://th.bing.com/th/id/OIP.NwXq2aBpsUKXene2iAb81AHaFj?w=243&h=182&c=7&o=5&dpr=1.75&pid=1.7");
     background-size:cover;
     background-repeat: no-repeat;
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}


.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}
.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}


.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
   position:static;

}
#profile_pic{
display: block;
margin: 0 auto;
height: 250px;
width: 200px;
object-fit: cover;
border: 2px solid var(--borderColor);
}
#profile_pic:hover{
transform:scale(1.2)

}
.navigation{
display: flex;
margin: 0;
padding: 10px;

}
.navigation li{

margin-right: 5px;
margin-left: 5px;
}
.dots-wrapper{
	display: flex;
	padding: 10px;
}

.dots-wrapper1{
 display: flex;
padding: 10px;
justify-content: center;
margin-top:60px;

}
.dots-wrapper2{
display: flex;
padding: 15px;
justify-content: center;


}
#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}


.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}

.theme-option-wrapper{
display: flex;
justify-content: center;
}
#personal_Theme{
font-size: 18px;
font-style: italic;
text-align: center;
padding: 2px;
margin-bottom: 4px;

}
#settings-note{
font-size: 12px;
font-style: italic;
text-align: center;

}
.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	/* background-color: #192734; */
   background-color:  #FC6058;
}

#green-mode{
	/* background-color: #78866b; */
  background-color: #FEC02F;
}

#purple-mode{
/* 	background-color: #7E4C74; */
    background-color:#2ACA3E;
}

#preview_shadow{
background-color: black;
border: 1.5px solid #FC6058;
border-left:3px solid #FC6058;
border-right:3px solid #FEC02F; 
	max-width: 850px;
	height: auto;
	padding: 20px; /* Reduced padding for better fit */
    opacity: 0.9


}


#preview{
    text-align: left;
    width: 830px;
    min-height: 300px; /* Increased height */
    border: 1.5px solid #2ACA3E;
    background-color: black;
    padding: 20px;
    position: relative;

   
}
#preview li{
list-style-type: square ;
   
}
#preview p{
margin: 10px;
font-size: 16px;
color: #2ACA3E;
line-height: 1.4; /* Better readability */
word-wrap: break-word; /* Prevent overflow */
}



#preview h3{
color:#FC6058;

}



.corner{
width:3px;
height: 3px;
border-radius: 20%;
border:1.8px solid #17a2b8;
padding: 10px;
position: absolute;
}

#corner-tl{
top:-5px;
left:-5px;
background-color:  #FC6058;
}
#corner-tr{
top:-5px;
right:-5px;
background-color:  #FEC02F;
}
#corner-br{
bottom:-5px;
right:-5px;
background-color:  #2ACA3E;

}
#corner-bl{
bottom:-5px;
left:-5px;
background-color: #fff;
}
.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.browser-dot1{
	background-color: black;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

/* post card */
.post-wrapper{
 
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.thumbnail{
display: inline;
width: 100%;
height: 180px;
object-fit: cover;
}
.post{
 height: 450px;
border: 1px solid var(--borderColor);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.post-preview{
background-color: #fff;
padding: 15px;
}
.post-title h1{
 color: black; 

margin: 0;
}
.post-intro{
color: #4b5156;
font-size: 16px;
}

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}

/* 
	New card */

 .card{
width: 15%;
display: inline-block; 
grid-template-columns: repeat(auto-fit, 320px);
box-shadow: 2px 2px 20px black;
border-radius: 5px; 
margin-left:52px;
margin-right: 35px;
margin-top: 10px;
margin-bottom: 15px;
  box-shadow: 7px 12px #eaeaea;
   } 

.card:hover{
transform:scale(1.2)

}
.image img{
  width: 100%;
max-height:190px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  

 
 }

.title h1{
 color:#FC6058 ;
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des p{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.des p{
color: #2ACA3E;

}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color:#FEC02F;
  border: 1px solid black;
  margin-left: 90px;
  border-radius: 5px;
  padding:5px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}

.logo{
display: flex;
width: 60px;
height: 60px;

}


.card5{
width: 15%;
display: inline-block; 
grid-template-columns: repeat(auto-fit, 320px);
box-shadow: 2px 2px 20px#FC6058;
border-radius: 5px; 
margin-left:52px;
margin-right: 35px;
margin-top: 10px;
margin-bottom: 15px;
box-shadow: 4px 8px#FEC02F;
}

.card4{
width: 15%;
display: inline-block; 
grid-template-columns: repeat(auto-fit, 320px);
box-shadow: 2px 2px 20px black;
border-radius: 5px; 
margin-left:52px;
margin-right: 35px;
margin-top: 10px;
margin-bottom: 15px;
  box-shadow: 4px 8px #2ACA3E;
   }
.card1{
width: 15%;
display: inline-block; 
grid-template-columns: repeat(auto-fit, 320px);
box-shadow: 2px 2px 20px black;
border-radius: 5px; 
margin-left:52px;
margin-right: 35px;
margin-top: 10px;
margin-bottom: 15px;
  box-shadow: 4px 8px#FC6058;
   }
.card2{
width: 15%;
display: inline-block; 
grid-template-columns: repeat(auto-fit, 320px);
box-shadow: 2px 2px 20px black;
border-radius: 5px; 
margin-left:52px;
margin-right: 35px;
margin-top: 10px;
margin-bottom: 15px;
  box-shadow: 4px 8px #eaeaea;
   }
.card3{
width: 15%;
display: inline-block; 
grid-template-columns: repeat(auto-fit, 320px);
box-shadow: 2px 2px 20px black;
border-radius: 5px; 
margin-left:52px;
margin-right: 35px;
margin-top: 10px;
margin-bottom: 15px;
box-shadow: 4px 8px #FC6058;
 }

.card1:hover{
transform:scale(1.2)

}
.card2:hover{
transform:scale(1.2)

}
.card3:hover{
transform:scale(1.2)

}
.card4:hover{
transform:scale(1.2)

}
.card5:hover{
transform:scale(1.2)

}